html {
    overflow-y: scroll;
}

body {
    display: block;
    background-color: #004405;
	height: 100%;
}

canvas {
    padding: 0;
    margin: auto;
    border-style: outset;
    border-color: #aaaaaa;
    border-width: 3px;
    display: block;
}

/*Game*/
#containerTop {
    display: flex;
    height: 90px;
    background-color: grey;
}

#containerPlayers {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #004405;
}

#chatTextBox {
    position:absolute;
    bottom: 0; 
    right: 0;
    margin-right: 54px;
    margin-bottom: 10px;
}

.playerBox {
    height: 72px;
    width: 96px;
    display: flex;
    #flex-grow: 1;
    flex-basis: 160px;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center; 
    
    border-style: outset;
    border-color: #add8e6;
    text-overflow: clip;
    /*white-space: wrap;*/
    overflow: hidden;
    background-color: #add8e6;
}

.playersAlive {
    font-size: 20px;
    color: #FF0000;
}

.nickname {
    font-family: World of Water, Georgia, serif;
    font-weight: bold;
    font-size: 13px;
    text-align: center;
    color: #550000;
}

.statistic {
    text-align: center;
    font-family: World of Water, "Trebuchet MS", Helvetica, sans-serif;
    font-size: 17px;
    color: #005500;
}

.checkered {
    background-image:
      -moz-linear-gradient(45deg, #bde8f6 25%, transparent 25%), 
      -moz-linear-gradient(-45deg, #bde8f6 25%, transparent 25%),
      -moz-linear-gradient(45deg, transparent 75%, #bde8f6 75%),
      -moz-linear-gradient(-45deg, transparent 75%, #bde8f6 75%);
    background-image:
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, #bde8f6), color-stop(.25, transparent)), 
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, #bde8f6), color-stop(.25, transparent)),
      -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.75, transparent), color-stop(.75, #bde8f6)),
      -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.75, transparent), color-stop(.75, #bde8f6));

    -moz-background-size:20px 20px;
    background-size:20px 20px;
    -webkit-background-size:20px 20px;
    
    background-position:0 0, 50px 0, 50px -50px, 0px 50px;
}

/* Lobby */
#choiceBoxesContainer {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#choiceBoxesRow2,
#choiceBoxesRow4 {
	display: flex;
	flex-direction: row;
    align-items: center;
}

#settingsBox {
	display: flex;
	flex-direction: column;
}

#mapSelector {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#playerInfoBox {
	display: flex;
	width: 250px;
	justify-content: center;
	align-items: center;
	margin: auto;
}

.setting {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-top: 7px;
	margin-bottom: 7px;
}

.choiceBox {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	border-radius: 18px;
	padding: 20px;
	margin: 10px;
	min-width: 230px;
	min-height: 130px;
	overflow: auto;
}

.hostOnly, .notHostOnly {
	display: none;
}

.choiceBoxTitle {
	font-size: 25px;
	padding-bottom: 10px;
	font-weight: bold;
}

.lobbyPlayer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 8px;
	line-height: 0%;
}

.flex-grid {
  display: flex;
}

.col {
  flex: 1;
}

@font-face {
    font-family: "World of Water";
    src: url('fonts/world-of-water.ttf');
}

input[type=checkbox] {
  transform: scale(1.5);
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;   
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%; 
  background: #4800FF;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4800FF;
  cursor: pointer;
}

.invisible {
    display: none;
}