<div id="choiceBoxesContainer"> <!-- Contains everything, for now only the choiceBoxes -->
	<div id="choiceBoxesRow1" class="choiceBox"> <!-- Introductory information -->
		<div id="introBox">
			<h2 align="center">PileFight</h2>
			Stack items and throws your friends<br>into the ocean!
		</div>
	</div>
	<div id="choiceBoxesRow2"> <!-- Player select information -->
		<div id="playerInfoBox" class="choiceBox">
			<input type="text" id="nicknameBox" placeholder="Enter a nickname" style="padding:10px; margin-bottom:5px; text-align: center"></input>
			<img src="/home/assets/images/wizard.png" style="margin:10px">
		</div>
	</div>
	<div id="choiceBoxesRow3"> <!-- Choose game type -->
		<div id="randomGameBox" class="choiceBox">
			<label style="margin:20px">Join a random game</label>
			<button disabled onclick="clickedCreateGameButton(false)" style="width:80px;height:30px">Out of order</button>
		</div>
		<div id="privateGameBox" class="choiceBox">
			<label style="margin:20px">Create private room</label>
			<button  onclick="clickedCreateGameButton(true)" style="width:80px;height:30px">Go</button>
		</div>
	</div>
</div>