body {
    display: block;
    background-color: #58409E;
}

#choiceBoxesContainer {
	display: flex;
	height: 100%;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#choiceBoxesRow3 {
	display: flex;
	flex-direction: row;
}

#playerInfoBox {
	
}

.choiceBox {
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	border-radius: 18px;
	padding: 20px;
	margin: 10px;
	min-width: 230px;
	min-height: 130px;
	overflow: auto;
}

td {
	padding: 8px;
}